.profile-text-info__full-name {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.625rem;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

@media screen and (max-width: 525px) {
    .profile-text-info__full-name {
        font-size: 2rem;
    }
}

@media screen and (max-width: 475px) {
    .profile-text-info__full-name {
        font-size: 1.6875rem;
    }
}

@media screen and (max-width: 425px) {
    .profile-text-info__full-name {
        text-align: center;
        font-size: 1.6875rem;
    }
}