.form__submit-button {
    padding: 0;
    width: 83.25%;
    height: 50px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    border: none;
    border-radius: 2px;
    margin-bottom: 37px;
    margin-top: 5px;
}
.form__submit-button:hover:enabled {
    background-color: #000000CC;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .form__submit-button {
        font-size: 0.875rem;
        margin-bottom: 25px;
        height: 46px;
        margin-top: 22px;
    }
}
