.profile-info__avatar {
    position:relative;
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    /* background-image: url('../../../images/Avatar.jpg'); */
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 30px;
}

@media screen and (max-width: 425px) {
    .profile-info__avatar {
        margin: 0 auto;
    }
}

.profile-info__avatar:hover::after {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../images/edit-icon-avatar.svg');
    background-color: rgba(0, 0, 0, .8);
    content: "";
    cursor: pointer;
}