.header__burger {
    visibility: hidden;
    display: none;

    margin: 0 30px 0 auto;
    padding: 0;
    height: 24px;
    width: 24px;

    min-height: 24px;
    min-width: 24px;
    background-color: black;
    border: none;
    /* border: 2px solid #FFFFFF;
    border-radius: 2px; */

    /* background-image: url('../../../images/burger.svg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.header__burger:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 499px) {
    .header__burger {
        visibility: visible;
        display: block;
    }
}