.element__header {
    margin: 0 50px 0 21px;
    padding: 23px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.21;
    color: #000000;
    width: calc(100% - 70px);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}