.profile-text-info {
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 425px) {
    .profile-text-info {
        margin-left: 22px;
        margin-top: 28px;
        max-width: calc(100% - 38px);
        display: inline-block;
    }
}