.form {
    width: 430px;
    /* height: 330px; */
    background-color: white;
    color: black;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    opacity: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: flex-end; */
    align-items: center;
    position: relative;

}
@media screen and (max-width: 468px) {
    .form {
        width: calc(100vw - 38px);
        height: 322px;
    }
    
}