.form__input {
    width: 83.25%;
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #00000033;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 2.214;
    color: #000000;
}

.form__input:invalid:required {
    /* validationMessage: 'Вы пропустили это поле.'; */
  }